.customNavbar{
  height: 8vh;
  background-color: rgba(1, 20, 62, 0.842);
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink{
  margin-right: 2rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  transition: all 0.5s;
}

.navLink:hover{
  color: aliceblue;
}

nav .active{
  color: rgb(0, 238, 255);
}
